.login{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 30%;
  padding: 120px;
  background-color: lawngreen;
  border-radius: 30px;
}

.email {
  padding-bottom: 10px;
}

.password {
  padding-bottom: 10px;
}

.login-form-button {
  font-size: 20px;
  text-align: center;
}
