<div class="news_page">
  <div class="main_bar">
    <h1>Ekstraklasa</h1>
  </div>
    <div class="news_name">
    <h1>Aktualności</h1>
  </div>
  <li class="news1">
    <div>
      <img src="https://v.wpimg.pl/Mzc0NS5qYhsCUjhgGgpvDkEKbDpcU2FYFhJ0cRpDeUkbHz01QgFjDRNTKj0bASFVEFcRJ1AQPh8RbyZ8ABcpQlsAL2YAR3UbWgMRZANCeklUBHt9XwEqWB4=">
      <a class="view1" style="color: #000c17" href="https://sportowefakty.wp.pl/pilka-nozna/920891/wiemy-jakie-mecze-pko-ekstraklasy-pokaze-tvp-starcie-mistrza-i-derby">
        Wiemy, jakie mecze PKO Ekstraklasy pokaże TVP. Starcie mistrza i derby
      </a>
    </div>
  </li>

</div>

