<div class="table">
  <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.miejsce }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.mecze }}</td>
      <td>{{ data.wygrane}}</td>
      <td>{{ data.remisy}}</td>
      <td>{{ data.porazki}}</td>
      <td>{{ data.punkty}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
